<html lang="en-US">
  <head>
    <title>Andrew Tindall</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
 </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>Personal Website - Math, Code, and Comics</p>
     </header>
      <section>
      {{ content }}
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
 </body>
 <footer>
	 <img src="https://projecteuler.net/profile/AlmostNever.png">
</footer>
</html>
